pipeline/simplepipeline.json
{
	"name": "simplepipeline",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "paramvalues",
					"value": {
						"value": "@pipeline().parameters.listofvalue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('paramvalues')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(length(pipeline().parameters.listofvalue),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('paramvalues')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "foreachitems",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "pass some values in the param",
					"errorCode": "1"
				}
			}
		],
		"parameters": {
			"listofvalue": {
				"type": "array",
				"defaultValue": [
					"a",
					"b"
				]
			}
		},
		"variables": {
			"paramvalues": {
				"type": "Array"
			},
			"foreachitems": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-11T03:31:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}